interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]},"role":"editor"}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":15,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","ai_onboarding_phase":"ask_ai_anything","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true,"share_menu_tutorial_phase":"complete"}},"role":"editor"}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":43,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["a02bee2b-77a4-4ce4-88f2-dade7f275fc7"],"joined":true,"settings":{"on_app_start":"first_page","user_survey_data":{"role":{"value":"unfilled","version":1,"collected_at":1638259864507,"collected_from":"onboarding"},"function":{"value":"personal","version":1,"collected_at":1638259864507,"collected_from":"onboarding"}},"notify_email_digest":false}},"role":"editor"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6197,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","v[...]
- request:
    body: '{"operations": [{"id": "250b91dd-1f85-4159-8847-dca5ef66890f", "path":
      [], "args": {"id": "250b91dd-1f85-4159-8847-dca5ef66890f", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697560073470, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "type": "page", "permissions": [{"role": "editor", "type": "user_permission",
      "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]}, "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697560073470}, "command":
      "update", "id": "250b91dd-1f85-4159-8847-dca5ef66890f", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "250b91dd-1f85-4159-8847-dca5ef66890f"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697560073470}, "command":
      "update", "id": "250b91dd-1f85-4159-8847-dca5ef66890f", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "250b91dd-1f85-4159-8847-dca5ef66890f", "path":
      ["properties", "title"], "args": [["TESTING PAGE"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697560073940}, "command":
      "update", "id": "250b91dd-1f85-4159-8847-dca5ef66890f", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe", "path":
      [], "args": {"id": "67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697560074269, "parent_id": "250b91dd-1f85-4159-8847-dca5ef66890f",
      "parent_table": "block", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "type": "page", "child_list_key": null}, "command": "set", "table": "block"},
      {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "last_edited_by_table":
      "notion_user", "last_edited_time": 1697560074269}, "command": "update", "id":
      "67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe", "path": [], "table": "block"}, {"id":
      "250b91dd-1f85-4159-8847-dca5ef66890f", "path": ["content"], "args": {"id":
      "67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe"}, "command": "listAfter", "table": "block"},
      {"args":[...]
[...]
- request:
    body: '{"blockId": "38436715-63b6-400e-99e4-a9085133b573"}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getPublicPageData
  response:
    body:
      string: '{"pageId":"38436715-63b6-400e-99e4-a9085133b573","spaceName":"test_py","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274","spaceDomain":"laced-taxi-315","canJoinSpace":true,"userHasExplicitAccess":true,"betaEnabled":false,"canRequestAccess":true,"requireLogin":false,"publicAccessRole":"none"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"bucket": "secure", "name": "tiny.bin", "contentType": "application/octet-stream",
      "record": {"table": "block", "id": "38436715-63b6-400e-99e4-a9085133b573", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getUploadFileUrl
  response:
    body:
      string: '{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin","signedGetUrl":"https://file.notion.so/f/f/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin?id=38436715-63b6-400e-99e4-a9085133b573&table=block&spaceId=d51d3ca5-7889-4c70-b906-3a5a37b60274&expirationTimestamp=1697673600000&signature=D-doT2KJS8TkJqhWyfqkTkpZFN9ipeJM-d6hfOu_2HI","signedPutUrl":"https://prod-files-secure.s3.us-west-2.amazonaws.com/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20231017%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20231017T162756Z&X-Amz-Expires=86400&X-Amz-Signature=a435a42013b5edcf0007e2b47a8645d088bcd5c8ded4f424f92598c9a45e5163&X-Amz-SignedHeaders=host&x-id=PutObject","putHeaders":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '0'
    headers:
      Content-type:
      - application/octet-stream
    method: PUT
    uri: https://prod-files-secure.s3.us-west-2.amazonaws.com/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20231017%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20231017T162756Z&X-Amz-Expires=86400&X-Amz-Signature=a435a42013b5edcf0007e2b47a8645d088bcd5c8ded4f424f92598c9a45e5163&X-Amz-SignedHeaders=host&x-id=PutObject
  response:
    body:
      string: ''
    headers:
      x-amz-request-id:
      - TWPTZFF4X0CPC903
      x-amz-server-side-encryption:
      - aws:kms
      x-amz-server-side-encryption-aws-kms-key-id:
      - arn:aws:kms:us-west-2:274567149370:key/f74319cf-894a-4028-b8e4-121169bf073c
      x-amz-server-side-encryption-bucket-key-enabled:
      - 'true'
      x-amz-version-id:
      - 0dhsA0JVeJ.cx05ddOc15AaGHuZs21qx
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "38436715-63b6-400e-99e4-a9085133b573"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"value":{"id":"38436715-63b6-400e-99e4-a9085133b573","version":14,"type":"file","properties":{"size":[["1B"]],"title":[["tiny.bin"]],"source":[["https://prod-files-secure.s3.us-west-2.amazonaws.com/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin"]]},"format":{"display_source":"https://prod-files-secure.s3.us-west-2.amazonaws.com/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin"},"created_time":1697560075128,"last_edited_time":1697560078778,"parent_id":"67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe","parent_table":"block","alive":true,"file_ids":["605792e3-d7a8-406a-a5cc-8616a9e20402"],"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}],"recordMapWithRoles":{"block":{"38436715-63b6-400e-99e4-a9085133b573":{"value":{"id":"38436715-63b6-400e-99e4-a9085133b573","version":14,"type":"file","properties":{"size":[["1B"]],"title":[["tiny.bin"]],"source":[["https://prod-files-secure.s3.us-west-2.amazonaws.com/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin"]]},"format":{"display_source":"https://prod-files-secure.s3.us-west-2.amazonaws.com/d51d3ca5-7889-4c70-b906-3a5a37b60274/605792e3-d7a8-406a-a5cc-8616a9e20402/tiny.bin"},"created_time":1697560075128,"last_edited_time":1697560078778,"parent_id":"67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe","parent_table":"block","alive":true,"file_ids":["605792e3-d7a8-406a-a5cc-8616a9e20402"],"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"},"67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe":{"value":{"id":"67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe","version":12,"type":"page","properties":{"title":[["test1"]]},"content":["38436715-63b6-400e-99e4-a9085133b573"],"created_time":1697560074269,"last_edited_time":1637193600000,"parent_id":"250b91dd-1f85-4159-8847-dca5ef66890f","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"},"250b91dd-1f85-4159-8847-dca5ef66890f":{"value":{"id":"250b91dd-1f85-4159-8847-dca5ef66890f","version":8,"type":"page","properties":{"title":[["TESTING
        PAGE"]]},"content":["67ef1cc9-8c3c-47b3-ad49-5efa0a83eefe"],"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1697560073470,"last_edited_time":1697560074269,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6198,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["250b91dd-1f85-4159-8847-dca5ef66890f"],"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["250b91dd-1f85-4159-8847-dca5ef66890f"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{"block":{"250b91dd-1f85-4159-8847-dca5ef66890f":{"role":"none"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6199,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
