interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3219,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba", "path":
      [], "args": {"id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652175767899, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "page", "permissions": [{"role": "editor",
      "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652175767899}, "command":
      "update", "id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652175767899}, "command":
      "update", "id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba", "path":
      ["properties", "title"], "args": [["TESTING PAGE"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652175768389}, "command":
      "update", "id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "f9b2d177-eba7-4548-a11b-bfd6493e058c", "path":
      [], "args": {"id": "f9b2d177-eba7-4548-a11b-bfd6493e058c", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652175770142, "parent_id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba",
      "parent_table": "block", "type": "collection_view_page", "child_list_key": null},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652175770142}, "command":
      "update", "id": "f9b2d177-eba7-4548-a11b-bfd6493e058c", "path": [], "table":
      "block"}, {"id": "7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba", "path": ["content"],
      "args": {"id": "f9b2d177-eba7-4548-a11b-bfd6493e058c"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
- request:
    body: '{"operations": [{"id": "55d28a90-be0e-4bf4-89c3-b0bed18dfa16", "path":
      [], "args": {"id": "55d28a90-be0e-4bf4-89c3-b0bed18dfa16", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652175770567, "parent_id": "f9b2d177-eba7-4548-a11b-bfd6493e058c",
      "parent_table": "block", "schema": {"Hnv6": {"name": "Tags", "type": "multi_select",
      "options": []}, "SYkn": {"name": "URL", "type": "url"}, "UZ1F": {"name": "Created",
      "type": "created_time"}, "ndbw": {"name": "Updated", "type": "last_edited_time"},
      "title": {"name": "Title", "type": "title"}}}, "command": "set", "table": "collection"},
      {"id": "f9b2d177-eba7-4548-a11b-bfd6493e058c", "path": ["content"], "args":
      {"id": "55d28a90-be0e-4bf4-89c3-b0bed18dfa16"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652175770567}, "command":
      "update", "id": "f9b2d177-eba7-4548-a11b-bfd6493e058c", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652175770567}, "command":
      "update", "id": "f9b2d177-eba7-4548-a11b-bfd6493e058c", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "94314b26-0014-4c95-b84d-546daf1bd5bd", "path":
      ["format", "list_properties"], "args": [{"property": "Hnv6", "visible": true},
      {"property": "SYkn", "visible": false}, {"property": "UZ1F", "visible": false},
      {"property": "ndbw", "visible": true}], "command": "set", "table": "collection_view"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "55d28a90-be0e-4bf4-89c3-b0bed18dfa16", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "94314b26-0014-4c95-b84d-546daf1bd5bd",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}}},"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "55d28a90-be0e-4bf4-89c3-b0bed18dfa16", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "94314b26-0014-4c95-b84d-546daf1bd5bd",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["411932de-e3d0-4ac0-9833-84cd1115b597"],"hasMore":false}}},"recordMap":{"block":{"411932de-e3d0-4ac0-9833-84cd1115b597":{"role":"editor","value":{"id":"411932de-e3d0-4ac0-9833-84cd1115b597","version":18,"type":"page","properties":{"Hnv6":[[""]],"SYkn":[["",[["a",""]]]],"title":[["test1"]]},"content":["06f9a6fa-1b33-4520-b0a0-fab449e15f1b"],"created_time":1637193600000,"last_edited_time":1637280000000,"parent_id":"55d28a90-be0e-4bf4-89c3-b0bed18dfa16","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"f9b2d177-eba7-4548-a11b-bfd6493e058c":{"role":"editor","value":{"id":"f9b2d177-eba7-4548-a11b-bfd6493e058c","version":13,"type":"collection_view_page","content":["55d28a90-be0e-4bf4-89c3-b0bed18dfa16","94314b26-0014-4c95-b84d-546daf1bd5bd"],"view_ids":["94314b26-0014-4c95-b84d-546daf1bd5bd"],"format":{"collection_pointer":{"id":"55d28a90-be0e-4bf4-89c3-b0bed18dfa16","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"created_time":1652175770142,"last_edited_time":1652175772294,"parent_id":"7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}[...]
- request:
    body: '{"requests": [{"table": "block", "id": "06f9a6fa-1b33-4520-b0a0-fab449e15f1b"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"06f9a6fa-1b33-4520-b0a0-fab449e15f1b","version":8,"type":"text","properties":{"title":[["test"]]},"created_time":1652175776752,"last_edited_time":1652175777590,"parent_id":"411932de-e3d0-4ac0-9833-84cd1115b597","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"06f9a6fa-1b33-4520-b0a0-fab449e15f1b":{"role":"editor","value":{"id":"06f9a6fa-1b33-4520-b0a0-fab449e15f1b","version":8,"type":"text","properties":{"title":[["test"]]},"created_time":1652175776752,"last_edited_time":1652175777590,"parent_id":"411932de-e3d0-4ac0-9833-84cd1115b597","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-be[...]
[...]
- request:
    body: '{"blockIds": ["7e3fbf0a-f976-4c0b-8802-6ca00ea7b1ba"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
