interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"errorId":"b06f2844-f72e-4cfb-8e78-c81c7f561cb4","name":"UnauthorizedError","debugMessage":"Could
        not decrypt token.","message":"Something went wrong. (401)"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
