interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]}}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":10,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true}}}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"role":"editor","value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":31,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"private_pages":["5585f343-8ea5-469b-8a90-a05987977424"],"joined":true,"settings":{"on_app_start":"first_page"}}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3147,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"}}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"role":"editor","value":{"id":"a03b888f-5426-4e4f-b5ef-[...]
- request:
    body: '{"operations": [{"id": "661ab913-8c08-4f16-9633-9da09c885bdb", "path":
      [], "args": {"id": "661ab913-8c08-4f16-9633-9da09c885bdb", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652171000011, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "type": "page", "permissions": [{"role": "editor",
      "type": "user_permission", "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]},
      "command": "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652171000011}, "command":
      "update", "id": "661ab913-8c08-4f16-9633-9da09c885bdb", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "661ab913-8c08-4f16-9633-9da09c885bdb"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652171000011}, "command":
      "update", "id": "661ab913-8c08-4f16-9633-9da09c885bdb", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "661ab913-8c08-4f16-9633-9da09c885bdb", "path":
      ["properties", "title"], "args": [["TESTING PAGE"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652171000912}, "command":
      "update", "id": "661ab913-8c08-4f16-9633-9da09c885bdb", "path": [], "table":
      "block"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "e19eb1e9-d148-4cf5-a642-3e65eec53514", "path":
      [], "args": {"id": "e19eb1e9-d148-4cf5-a642-3e65eec53514", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1652171001305, "parent_id": "661ab913-8c08-4f16-9633-9da09c885bdb",
      "parent_table": "block", "type": "page", "child_list_key": null}, "command":
      "set", "table": "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1652171001305}, "command":
      "update", "id": "e19eb1e9-d148-4cf5-a642-3e65eec53514", "path": [], "table":
      "block"}, {"id": "661ab913-8c08-4f16-9633-9da09c885bdb", "path": ["content"],
      "args": {"id": "e19eb1e9-d148-4cf5-a642-3e65eec53514"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
[...]
- request:
    body: '{"bucket": "secure", "name": "tiny.bin", "contentType": "application/octet-stream"}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getUploadFileUrl
  response:
    body:
      string: '{"url":"https://s3-us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin","signedGetUrl":"https://s3.us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220510%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220510T082324Z&X-Amz-Expires=86400&X-Amz-Signature=220d221e934832ed4f6413a2d791399712872e8a9a79559bb04b7515b499a977&X-Amz-SignedHeaders=host&x-id=GetObject","signedPutUrl":"https://s3.us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220510%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220510T082324Z&X-Amz-Expires=86400&X-Amz-Signature=b4ec30bbab12e3b3dd797063d793678969e99c6632f57d8e65cff117e40cc7b4&X-Amz-SignedHeaders=host&x-id=PutObject"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '0'
    headers:
      Content-type:
      - application/octet-stream
    method: PUT
    uri: https://s3.us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220510%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220510T082324Z&X-Amz-Expires=86400&X-Amz-Signature=b4ec30bbab12e3b3dd797063d793678969e99c6632f57d8e65cff117e40cc7b4&X-Amz-SignedHeaders=host&x-id=PutObject
  response:
    body:
      string: ''
    headers:
      x-amz-request-id:
      - 0E623WTF7EC94ZG5
      x-amz-server-side-encryption:
      - aws:kms
      x-amz-server-side-encryption-aws-kms-key-id:
      - arn:aws:kms:us-west-2:274567149370:key/c62b8624-5469-4833-99f5-90d727474375
      x-amz-server-side-encryption-bucket-key-enabled:
      - 'true'
      x-amz-version-id:
      - VogcuW9Gxb6dUl7D.IJHpKZcsKFNPOcD
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"table": "block", "id": "c9f79dec-ccaa-4897-b2f8-94c6d9e27cc6"}]}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"role":"editor","value":{"id":"c9f79dec-ccaa-4897-b2f8-94c6d9e27cc6","version":13,"type":"file","properties":{"size":[["1B"]],"title":[["tiny.bin"]],"source":[["https://s3-us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin"]]},"format":{"display_source":"https://s3-us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin"},"created_time":1652171002094,"last_edited_time":1652171007233,"parent_id":"e19eb1e9-d148-4cf5-a642-3e65eec53514","parent_table":"block","alive":true,"file_ids":["e7232e45-adc7-4d4c-8c15-3daabad328ec"],"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}],"recordMapWithRoles":{"block":{"c9f79dec-ccaa-4897-b2f8-94c6d9e27cc6":{"role":"editor","value":{"id":"c9f79dec-ccaa-4897-b2f8-94c6d9e27cc6","version":13,"type":"file","properties":{"size":[["1B"]],"title":[["tiny.bin"]],"source":[["https://s3-us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin"]]},"format":{"display_source":"https://s3-us-west-2.amazonaws.com/secure.notion-static.com/e7232e45-adc7-4d4c-8c15-3daabad328ec/tiny.bin"},"created_time":1652171002094,"last_edited_time":1652171007233,"parent_id":"e19eb1e9-d148-4cf5-a642-3e65eec53514","parent_table":"block","alive":true,"file_ids":["e7232e45-adc7-4d4c-8c15-3daabad328ec"],"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"e19eb1e9-d148-4cf5-a642-3e65eec53514":{"role":"editor","value":{"id":"e19eb1e9-d148-4cf5-a642-3e65eec53514","version":11,"type":"page","properties":{"title":[["test1"]]},"content":["c9f79dec-ccaa-4897-b2f8-94c6d9e27cc6"],"created_time":1652171001305,"last_edited_time":1652171010794,"parent_id":"661ab913-8c08-4f16-9633-9da09c885bdb","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"661ab913-8c08-4f16-9633-9da09c885bdb":{"role":"editor","value":{"id":"661ab913-8c08-4f16-9633-9da09c885bdb","version":8,"type":"page","properties":{"title":[["TESTING
        PAGE"]]},"content":["e19eb1e9-d148-4cf5-a642-3e65eec53514"],"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1652171000011,"last_edited_time":1652171001305,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"role":"editor","value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":3148,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["661ab913-8c08-4f16-9633-9da09c885bdb"],"created_time":1638259881592,"last_edited_time":1651932240000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"blockIds": ["661ab913-8c08-4f16-9633-9da09c885bdb"], "permanentlyDelete":
      true}'
    headers:
      content-type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
