interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":3,"space_views":["703440cc-f5cb-4f27-ba54-a9125a58e033"],"space_view_pointers":[{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","table":"space_view","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}]},"role":"editor"}},"user_settings":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":15,"settings":{"type":"personal","persona":"personal","team_role":"unfilled","time_zone":"Asia/Tashkent","signup_time":1638259864507,"cookie_consent":{"id":"2c2f9260-c9a6-4097-bc19-30e5395dfb02","permission":{"necessary":true,"targeting":false,"preference":false,"performance":false}},"preferred_locale":"en-US","ai_onboarding_phase":"ask_ai_anything","used_desktop_web_app":true,"seen_views_intro_modal":true,"preferred_locale_origin":"autodetect","seen_persona_collection":true,"share_menu_tutorial_phase":"complete"}},"role":"editor"}},"space_view":{"703440cc-f5cb-4f27-ba54-a9125a58e033":{"value":{"id":"703440cc-f5cb-4f27-ba54-a9125a58e033","version":46,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","parent_table":"user_root","alive":true,"notify_mobile":false,"notify_desktop":true,"notify_email":false,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true,"settings":{"on_app_start":"first_page","user_survey_data":{"role":{"value":"unfilled","version":1,"collected_at":1638259864507,"collected_from":"onboarding"},"function":{"value":"personal","version":1,"collected_at":1638259864507,"collected_from":"onboarding"}},"notify_email_digest":false}},"role":"editor"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6245,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/loadUserContent
  response:
    body:
      string: '{"recordMap":{"notion_user":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","version":7,"email":"test_py_notion@protonmail.com","onboarding_completed":true,"name":"test_py"},"role":"editor"}},"user_root":{"a03b888f-5426-4e4f-b5ef-bed855b162f0":{"value":{"id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","v[...]
- request:
    body: '{"operations": [{"id": "8cc77354-0a40-4dea-a795-ebceb1814877", "path":
      [], "args": {"id": "8cc77354-0a40-4dea-a795-ebceb1814877", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697561766572, "parent_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "parent_table": "space", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "type": "page", "permissions": [{"role": "editor", "type": "user_permission",
      "user_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0"}]}, "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697561766572}, "command":
      "update", "id": "8cc77354-0a40-4dea-a795-ebceb1814877", "path": [], "table":
      "block"}, {"id": "d51d3ca5-7889-4c70-b906-3a5a37b60274", "path": ["pages"],
      "args": {"id": "8cc77354-0a40-4dea-a795-ebceb1814877"}, "command": "listAfter",
      "table": "space"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697561766572}, "command":
      "update", "id": "8cc77354-0a40-4dea-a795-ebceb1814877", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "8cc77354-0a40-4dea-a795-ebceb1814877", "path":
      ["properties", "title"], "args": [["TESTING PAGE"]], "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697561767049}, "command":
      "update", "id": "8cc77354-0a40-4dea-a795-ebceb1814877", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"operations": [{"id": "76654b88-ee1d-4701-a81e-30efaf58af49", "path":
      [], "args": {"id": "76654b88-ee1d-4701-a81e-30efaf58af49", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697561767422, "parent_id": "8cc77354-0a40-4dea-a795-ebceb1814877",
      "parent_table": "block", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "type": "collection_view_page", "child_list_key": null}, "command": "set", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697561767422}, "command":
      "update", "id": "76654b88-ee1d-4701-a81e-30efaf58af49", "path": [], "table":
      "block"}, {"id": "8cc77354-0a40-4dea-a795-ebceb1814877", "path": ["content"],
      "args": {"id": "76654b88-ee1d-4701-a81e-30efaf58af49"}, "command": "listAfter",
      "table": "block"}, {"args":[...]
- request:
    body: '{"operations": [{"id": "da540376-8f39-40e3-b20f-df174d893870", "path":
      [], "args": {"id": "da540376-8f39-40e3-b20f-df174d893870", "version": 1, "alive":
      true, "created_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0", "created_by_table":
      "notion_user", "created_time": 1697561768020, "parent_id": "76654b88-ee1d-4701-a81e-30efaf58af49",
      "parent_table": "block", "space_id": "d51d3ca5-7889-4c70-b906-3a5a37b60274",
      "schema": {"7I39": {"name": "Tags", "type": "multi_select", "options": []},
      "CoS2": {"name": "URL", "type": "url"}, "f4AW": {"name": "Created", "type":
      "created_time"}, "yTwv": {"name": "Updated", "type": "last_edited_time"}, "title":
      {"name": "Title", "type": "title"}}}, "command": "set", "table": "collection"},
      {"id": "76654b88-ee1d-4701-a81e-30efaf58af49", "path": ["content"], "args":
      {"id": "da540376-8f39-40e3-b20f-df174d893870"}, "command": "listAfter", "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697561768020}, "command":
      "update", "id": "76654b88-ee1d-4701-a81e-30efaf58af49", "path": [], "table":
      "block"}, {"args": {"last_edited_by_id": "a03b888f-5426-4e4f-b5ef-bed855b162f0",
      "last_edited_by_table": "notion_user", "last_edited_time": 1697561768020}, "command":
      "update", "id": "76654b88-ee1d-4701-a81e-30efaf58af49", "path": [], "table":
      "block"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"operations": [{"id": "cc7a7c6f-94c1-40f2-a33e-54e370869fbf", "path":
      ["format", "list_properties"], "args": [{"property": "7I39", "visible": true},
      {"property": "CoS2", "visible": false}, {"property": "f4AW", "visible": false},
      {"property": "yTwv", "visible": true}], "command": "set", "table": "collection_view"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/submitTransaction
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"collection": {"id": "da540376-8f39-40e3-b20f-df174d893870", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "cc7a7c6f-94c1-40f2-a33e-54e370869fbf",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"table:uncategorized:title:count":
      {"aggregation": {"aggregator": "count", "property": "title"}, "type": "aggregation"}},
      "searchQuery": "", "sort": [], "userTimeZone": "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"table:uncategorized:title:count":{"type":"aggregation","aggregationResult":{"type":"number","value":1}}},"sizeHint":1},"recordMap":{"block":{"0a85a9ee-25d5-46c6-bee9-8a73ea3fd774":{"value":{"id":"0a85a9ee-25d5-46c6-bee9-8a73ea3fd774","version":18,"type":"page","properties":{"7I39":[[""]],"CoS2":[["",[["a",""]]]],"title":[["test1"]]},"content":["b5feac75-e9cd-48fa-b086-49ab1cf4102f"],"created_time":1637193600000,"last_edited_time":1637280000000,"parent_id":"da540376-8f39-40e3-b20f-df174d893870","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"},"76654b88-ee1d-4701-a81e-30efaf58af49":{"value":{"id":"76654b88-ee1d-4701-a81e-30efaf58af49","version":13,"type":"collection_view_page","content":["da540376-8f39-40e3-b20f-df174d893870","cc7a7c6f-94c1-40f2-a33e-54e370869fbf"],"view_ids":["cc7a7c6f-94c1-40f2-a33e-54e370869fbf"],"format":{"collection_pointer":{"id":"da540376-8f39-40e3-b20f-df174d893870","table":"collection","spaceId":"d51d3ca5-7889-4c70-b906-3a5a37b60274"}},"created_time":1697561767422,"last_edited_time":1697561769693,"parent_id":"8cc77354-0a40-4dea-a795-ebceb1814877","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"},"8cc77354-0a40-4dea-a795-ebceb1814877":{"value":{"id":"8cc77354-0a40-4dea-a795-ebceb1814877","version":8,"type":"page","properties":{"title":[["TESTING
        PAGE"]]},"content":["76654b88-ee1d-4701-a81e-30efaf58af49"],"permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"created_time":1697561766572,"last_edited_time":1697561767422,"parent_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"collection":{"da540376-8f39-40e3-b20f-df174d893870":{"value":{"id":"da540376-8f39-40e3-b20f-df174d893870","version":3,"name":[["test_database"]],"schema":{"7I39":{"name":"Tags","type":"multi_select"},"CoS2":{"name":"URL","type":"url"},"f4AW":{"name":"Created","type":"created_time"},"yTwv":{"name":"Updated","type":"last_edited_time"},"title":{"name":"Title","type":"title"}},"format":{"collection_page_properties":[{"visible":true,"property":"7I39"},{"visible":false,"property":"CoS2"},{"visible":false,"property":"f4AW"},{"visible":true,"property":"yTwv"}]},"parent_id":"76654b88-ee1d-4701-a81e-30efaf58af49","parent_table":"block","alive":true,"migrated":true,"space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6246,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"pages":["8cc77354-0a40-4dea-a795-ebceb1814877"],"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}},"collectionIds":["da540376-8f39-40e3-b20f-df174d893870"],"allBlockIds":["0a85a9ee-25d5-46c6-bee9-8a73ea3fd774"],"shouldUseClientMode":true,"isViewSpecificClientMode":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"collection": {"id": "da540376-8f39-40e3-b20f-df174d893870", "spaceId":
      "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "collectionView": {"id": "cc7a7c6f-94c1-40f2-a33e-54e370869fbf",
      "spaceId": "d51d3ca5-7889-4c70-b906-3a5a37b60274"}, "loader": {"reducers": {"collection_group_results":
      {"limit": 1, "type": "results"}}, "searchQuery": "", "sort": [], "userTimeZone":
      "Asia/Tashkent", "type": "reducer"}}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/queryCollection
  response:
    body:
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["0a85a9ee-25d5-46c6-bee9-8a73ea3fd774"],"hasMore":false}},"sizeHint":1},"recordMap":{"block":{"0a85a9ee-25d5-46c6-bee9-8a73ea3fd774":{"value":{"id":"0a85a9ee-25d5-46c6-bee9-8a73ea3fd774","version":18,"type":"page","properties":{"7I39":[[""]],"CoS2":[["",[["a",""]]]],"title":[["test1"]]},"content":["b5feac75-e9cd-48fa-b086-49ab1cf4102f"],"created_time":1637193600000,"last_edited_time":1637280000000,"parent_id":"da540376-8f39-40e3-b20f-df174d893870","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888[...]
- request:
    body: '{"requests": [{"table": "block", "id": "b5feac75-e9cd-48fa-b086-49ab1cf4102f"}]}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/getRecordValues
  response:
    body:
      string: '{"results":[{"value":{"id":"b5feac75-e9cd-48fa-b086-49ab1cf4102f","version":8,"type":"text","properties":{"title":[["test"]]},"created_time":1697561772857,"last_edited_time":1697561773713,"parent_id":"0a85a9ee-25d5-46c6-bee9-8a73ea3fd774","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"role":"editor"}],"recordMapWithRoles":{"block":{"b5feac75-e9cd-48fa-b086-49ab1cf4102f":{"value":{"id":"b5feac75-e9cd-48fa-b086-49ab1cf4102f","version":8,"type":"text","properties":{"title":[["test"]]},"created_time":1697561772857,"last_edited_time":1697561773713,"parent_id":"0a85a9ee-25d5-46c6-bee9-8a73ea3fd774","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","space_id":"d51d3ca5-7889-4c70-b906-3a5a37b60274"},"r[...]
[...]
- request:
    body: '{"blockIds": ["8cc77354-0a40-4dea-a795-ebceb1814877"], "permanentlyDelete":
      true}'
    headers:
      Content-Type:
      - application/json
      x-notion-active-user-header:
      - a03b888f-5426-4e4f-b5ef-bed855b162f0
    method: POST
    uri: https://www.notion.so/api/v3/deleteBlocks
  response:
    body:
      string: '{"recordMap":{"block":{"8cc77354-0a40-4dea-a795-ebceb1814877":{"role":"none"}},"space":{"d51d3ca5-7889-4c70-b906-3a5a37b60274":{"value":{"id":"d51d3ca5-7889-4c70-b906-3a5a37b60274","version":6247,"name":"test_py","permissions":[{"role":"editor","type":"user_permission","user_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0"}],"beta_enabled":false,"created_time":1638259881592,"last_edited_time":1657343400000,"created_by_table":"notion_user","created_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","last_edited_by_table":"notion_user","last_edited_by_id":"a03b888f-5426-4e4f-b5ef-bed855b162f0","plan_type":"personal","invite_link_enabled":true,"settings":{"space_survey_data":{"intent":{"value":"personal","version":1,"collected_at":1638259881592,"collected_from":"onboarding"}}},"subscription_tier":"free"},"role":"editor"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
